# STM32CubeIDE / Eclipse
.project
.cproject
.settings/
Debug/
Release/
*.launch

# Keil MDK
*.uvoptx
*.uvprojx
*.uvguix.*
*.scvd
Objects/
Listings/
*.map
*.o
*.d
*.crf
*.htm
*.lnp
*.dep
*.iex
*.hex
*.bin
*.axf
*.build_log.htm

# Generic
*.bak
*.bak.*
*.tmp
*.log
*.ini
.vscode/
.idea/
